<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goku.coreui.sys.mapper.ext.SysUserExtMapper">
  <resultMap id="SysUserMap" type="com.goku.coreui.sys.model.SysUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="orgid" jdbcType="VARCHAR" property="orgid" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="is_admin" jdbcType="VARCHAR" property="isAdmin" />
    <result column="sort" jdbcType="BIGINT" property="sort" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <association property="sysUserInfo" column="id" select="getUserInfoById"/>
    <collection  property="sysRoleList"  column="id" select="getRoleById" />
  </resultMap>
  <resultMap id="SysRoleMap" type="com.goku.coreui.sys.model.SysRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <resultMap id="SysUserInfoMap" type="com.goku.coreui.sys.model.SysUserInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="blood" jdbcType="VARCHAR" property="blood" />
    <result column="culture" jdbcType="VARCHAR" property="culture" />
    <result column="finish_school_date" jdbcType="DATE" property="finishSchoolDate" />
    <result column="folk" jdbcType="VARCHAR" property="folk" />
    <result column="government" jdbcType="VARCHAR" property="government" />
    <result column="homepage" jdbcType="VARCHAR" property="homepage" />
    <result column="householder" jdbcType="VARCHAR" property="householder" />
    <result column="marriage" jdbcType="VARCHAR" property="marriage" />
    <result column="msn" jdbcType="VARCHAR" property="msn" />
    <result column="nativity_address" jdbcType="VARCHAR" property="nativityAddress" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="speciality" jdbcType="VARCHAR" property="speciality" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <select id="getUserByUsername" parameterType="java.lang.String" resultMap="SysUserMap">
    select
      id, username, password, name, sex, status, orgid, email, idcard, is_admin, sort,mobile
    from sys_user
    where status='1' and username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="getRoleById" parameterType="java.lang.String" resultMap="SysRoleMap">
    select
     a.id, a.version, a.key, a.name, a.description
    from sys_role a,sys_user_role b
    where a.id=b.role_id and user_id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getUserInfoById" parameterType="java.lang.String" resultMap="SysUserInfoMap">
    SELECT  id, user_id, head_portrait, address, post_code, height, weight, birthday, blood,
    culture, finish_school_date, folk, government, homepage, householder, marriage, msn,
    nativity_address, qq, speciality, description, version FROM  sys_user_info where user_id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getUserForPaging" resultMap="SysUserMap">
    select
     id, username, password, name, sex, status, orgid, email, idcard, is_admin, sort,mobile
    from sys_user
    <where>
      <if test="username != null and username != ''">
        <bind name="username" value="'%' + username + '%'" />
        username LIKE #{username}
      </if>
      <if test="name != null and name != ''">
        <bind name="name" value="'%' + name + '%'" />
        name LIKE #{name}
      </if>
    </where>
    <if test="orderFiled != null and orderFiled != ''" >
      order by  ${orderFiled}
      <if test="orderSort != null and orderSort !=''" >
        ${orderSort}
      </if>
    </if>
  </select>
</mapper>