<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goku.coreui.sys.mapper.ext.SysUserAuthExtMapper">
    <resultMap id="SysUserAuthMap" type="com.goku.coreui.sys.model.SysUserAuth">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    </resultMap>
    <delete id="deleteUserAuthByModuleId" parameterType="java.lang.String">
        delete from sys_user_auth
        where menu_id IN (
        SELECT id FROM sys_menu WHERE module_id = #{id,jdbcType=VARCHAR})
        and user_id=#{userid,jdbcType=VARCHAR}
    </delete>
</mapper>