<!--templates-->
<div class="animated fadeIn" >
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 用户列表
                </div>
                <div class="card-body">
                    <div class=" form-horizontal">
                        <div class="form-group  row">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon search-content">用户名</span>
                                    <input type="text" id="username" name="username" class="form-control search-content"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon search-content">姓名</span>
                                    <input type="text" id="name" name="name" class="form-control search-content"/>
                                </div>
                            </div>
                            <a shiro:hasPermission="sys:user:query" style="margin-left:15px" class="opreate-btn btn btn-primary btn-sm" href="#" data-type="reload" id="resetTable" ><i class="icon-magnifier"></i>查询</a>
                            <a shiro:hasPermission="sys:user:query" style="margin-left:15px" class="opreate-btn btn btn-secondary btn-sm" href="#" onclick="resetTable()"><i class="icon-refresh"></i>重置</a>
                        </div>
                        <div class="row" >
                            <a shiro:hasPermission="sys:user:add" class="opreate-btn btn btn-success btn-sm" href="sys/user/getListPage@sys/user/addPage"><i class="icon-plus"></i>新增</a>
                            <a shiro:hasPermission="sys:user:edit" class="opreate-btn btn btn-success btn-sm" href="sys/user/getListPage@sys/user/editPage"><i class="icon-plus"></i>修改</a>
                            <a shiro:hasPermission="sys:user:delete"  class="opreate-btn btn btn-danger btn-sm"  href="#" onclick="freezeIds()"><i class="icon-close"></i>冻结</a>
                            <a shiro:hasPermission="sys:user:delete"  class="opreate-btn btn btn-danger btn-sm"  href="#" onclick="deleteIds()"><i class="icon-close"></i>删除</a>
                            <a shiro:hasPermission="sys:user:add" style="width: 80px;" class="opreate-btn btn btn-success btn-sm"  href="#" onclick="alert('2222')"><i class="icon-user-follow"></i>角色赋值</a>
                            <a shiro:hasPermission="sys:user:add" style="width: 80px;" class="opreate-btn btn btn-success btn-sm"  href="#" onclick="alert('2222')"><i class="icon-user-follow"></i>菜单赋值</a>
                        </div>
                        <table class="table table-responsive-sm" id="table" lay-filter="table"></table>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
    </div>
</div>

<!--js-->
<script th:inline="javascript">

    layui.use('table', function(){
        var table = layui.table;
        var $ = layui.jquery;

        var opt={
            elem: '#table'
            ,url:'/api/sys/user/getUserForPaging'
            ,height: 410
            ,page: true //开启分页,
            ,limit:5
            ,limits:[5,10,20,50]
            ,cols: [[
                {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'username', width:80, title: '用户名'}
                ,{field:'sex', width:80, title: '性别', sort: true}
            ]],
            request: {
                pageName: 'pageNumber', //页码的参数名称，默认：page
                limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            response: {
                countName: 'total', //数据总数的字段名称，默认：count
                dataName: 'rows' //数据列表的字段名称，默认：data
            }
        };

        table.render(opt);

        table.on('sort(table)', function (obj) {
            debugger;
            var tableIns = table.render(opt)
            tableIns.reload({
                initSort: obj,
                where: {
                    sortName: obj.field,
                    sortOrder: obj.type,
                    pageName: 'pageNumber', //页码的参数名称，默认：page
                    limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
            })
        });

        var active = {
            reload: function(){
                var tableIns = table.render(opt)
                tableIns.reload({ where: {
                    username:$('#username').val(),
                    name:$('#name').val()
                }});
            }
        };


        $('#resetTable').on('click', function(){
            debugger;
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });



</script>

<!--css-->
<style type="text/css">
    .search-content
    {
        height:30px;
        margin-bottom: 5px;
    }
    .opreate-btn
    {
        width: 60px;
        margin:0 0 10px 15px;
    }
</style>