<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="CoreUI Admin "/>
    <meta name="author" content="nbfujx"/>
    <meta name="keyword" content="CoreUI Admin"/>
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <title>CoreUI Admin </title>
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/lib/simple-line-icons/css/simple-line-icons.css"></link>
    <!--layui and necessary plugins-->
    <link rel="stylesheet" type="text/css" href="/lib/layui/css/layui.css"  media="all"></link>
    <!-- Main styles for this application -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
</head>

<body class="app flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group">
                <div class="card p-6">
                    <div class="card-body">
                        <h1>登录</h1>
                        <p class="text-muted">登录到您的帐户</p>
                        <form action="/doLogin" method="post">
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" name="username" class="form-control" placeholder="账号"/>
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" name="password" class="form-control" placeholder="密码"/>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="layui-btn layui-btn-normal" >登录</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-link px-0">忘记密码?</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card" style="width:44%">
                    <!--系统提示信息图片-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap and necessary plugins -->
<script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/lib/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/layer/layer.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var error=/*[[${error}]]*/;//取值
    /*]]>*/
    if(error)
    {
        layer.alert(error, {icon: 0});
    }
</script>
</body>
</html>